
# Ignoring files by extension
# All files with these extensions will be ignored in
# this directory and all its sub-directories.
*.aux
*.log
*.synctex.gz
*.idx
*.ilg
*.ind
.gitignore
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.fdb_latexmk
*.fls
*.nlo
*.nls
*.toc

